<%- include("partials/head.ejs") %> 
<%- include("partials/header.ejs") %> 
<h2>Products List</h2>
<input type="hidden" name="_csrf" value="<%= csrfToken %>" />
<table id="products-table">
  <tr id="products-table-header">
    <th>Name</th>
    <th>Category</th>
    <th>Flavor</th>
    <th colspan="2"></th>
  </tr>
  <% if (products && products.length) { %>
    <% products.forEach((product) => { %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.category %></td>
        <td><%= product.flavor %></td>
        <td><a href="/products/edit/<%= product.id %>">
            <button type="button">edit</button>
          </a></td>
        <td>
          <form method="POST" action="/products/delete/<%= product.id %>" style="display:inline;">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <button type="submit">delete</button>
          </form>
        </td>
      </tr>
    <% }) %>
  <% } %>
</table>
<div>
    <a href="/products/edit"> 
      <button>add</button> 
    </a>
</div>

<%- include("partials/footer.ejs") %>